

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Parola Sıfırlama";

    var passwordResetToken = Request.Form["resetToken"] ?? Request.QueryString["resetToken"];

    bool tokenExpired = false;
    bool isSuccess = false;

    /* Kurulum doğrulama*/
    Validation.RequireField("newPassword", "Yeni parola alanı zorunludur.");
    
    Validation.Add("newPassword",
        Validator.StringLength(
            maxLength: Int32.MaxValue,
            minLength: 6,
            errorMessage: "Yeni parola en az 6 karakter olmalıdır"));

Validation.Add("confirmPassword",
        Validator.EqualsTo("newPassword", "Yeni parola ve onaylama parolası eşleşmiyor."));

    if (IsPost) {
        AntiForgery.Validate();
        var newPassword = Request["newPassword"];
        var confirmPassword = Request["confirmPassword"];
      
       if (Validation.IsValid()) {     
        if (WebSecurity.ResetPassword(passwordResetToken, newPassword)) {
            isSuccess = true;
        } else {
            ModelState.AddError("passwordResetToken", "Parola sıfırlama belirteci geçersiz.");
            tokenExpired = true;
        }
    } 
  }
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Parolanızı sıfırlamak için aşağıdaki formu kullanın.</h2>
</hgroup>

@if (!WebMail.SmtpServer.IsEmpty()) {
    if (!Validation.IsValid()) {
        <p class="validation-summary-errors">
            @if (tokenExpired) {
                <text>Parola sıfırlama belirteci hatalı veya süresi dolmuş olabilir. Yeni bir tane oluşturmak için <a href="~/Account/ForgotPassword">parolamı unuttum sayfasına</a> 
                gidin.</text>
            } else {
                <text>Parola sıfırlanamadı. Lütfen hataları düzeltin ve yeniden deneyin.</text>
            }
        </p>
    }

    if (isSuccess) {
        <p class="message-success">
            Parola değiştirildi! Oturum açmak için <a href="~/Account/Login" title="Oturum aç">burayı</a> tıklatın.
        </p>
    }

    <form method="post">
        @AntiForgery.GetHtml()
        <fieldset>
            <legend>Parola Değiştirme Formu</legend>
            <ol>
                <li class="new-password">
                    <label for="newPassword" @if (!ModelState.IsValidField("newPassword")) {<text>class="error-label"</text>}>Yeni parola</label> 
                    <input type="password" id="newPassword" name="newPassword" disabled="@isSuccess" @Validation.For("newPassword") />
                    @Html.ValidationMessage("newPassword")
                </li>
                <li class="confirm-password">
                    <label for="confirmPassword" @if (!ModelState.IsValidField("confirmPassword")) {<text>class="error-label"</text>}>Parolayı onaylayın</label> 
                    <input type="password" id="confirmPassword" name="confirmPassword" disabled="@isSuccess" @Validation.For("confirmPassword") />
                    @Html.ValidationMessage("confirmPassword")
                </li>
                <li class="reset-token">
                    <label for="resetToken" @if (!ModelState.IsValidField("resetToken")) {<text>class="error-label"</text>}>Password reset token</label> 
                    <input type="text" id="resetToken" name="resetToken" value="@passwordResetToken" disabled="@isSuccess" @Validation.For("resetToken") />
                    @Html.ValidationMessage("resetToken")
                </li>
            </ol>
            <input type="submit" value="Parolayı sıfırla" disabled="@isSuccess"/>
        </fieldset>
    </form>
} else {
    <p class="message-info">
        Bu web sitesi için parola kurtarma devre dışı bırakıldı; bunun nedeni SMTP sunucusunun 
        doğru yapılandırılmamasıdır. Lütfen parolanızı sıfırlamak için bu sitenin sahibiyle 
        temasa geçin.
    </p>
}
